<a href="https://colab.research.google.com/github/bsshreesha/Python-SQL-Assignment/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python

Python is a versatile and widely-used programming language known for its simplicity and readability. It was created by **Guido Von Rossum** and first released in *1991*. Python is used in a variety of applications, including web development, data analysis, artificial intelligence, and more.

## Key Features of Python

- **Easy to Read and Write**: Python's syntax is designed to be intuitive and easy to understand.
- **Versatile**: It can be used for various tasks, from simple scripts to complex applications.
- **Interpreted Language**: Python code is executed line by line, which makes debugging easier.
- **Extensive Libraries**: Python has a rich ecosystem of libraries and frameworks that support various tasks.
- **Community Support**: Python has a large and active community, which means plenty of resources and help are available.

## Input and Output functions in python

```python
Input function: input()
Output function: print()
```
Some examples are in the below cell

In [ ]:
print("Hello World") # Shortcut: Use Shift + Enter to run the cell

Hello World

In [ ]:
input('Enter your name: ')

Enter your name: B S Shreesha

'B S Shreesha'

# Variables in Python

Variables are used to store data in a program. In Python, a variable is created when you assign a value to it using the assignment operator `=`. Variables are containers for storing data values and can hold different types of data, such as integers, floats, strings, and more.

## Creating Variables

To create a variable in Python, you simply assign a value to a name. The name of the variable is on the left side of the assignment operator, and the value is on the right side.

```python
# Creating a variable
x = 10
print(x)  # Output: 10
```

## Variable Naming Rules
When naming variables in Python, you must follow these rules:
1. Variable names must start with a letter or an underscore (_), and cannot start with a number.

2. Variable names can only contain alphanumeric characters and underscores (A-z, 0-9, _ ).

3. Variable names are case-sensitive. This means *`Variable`* and **`variable`** are different variables.

```python
# Valid variable names
my_variable = 10
_my_variable = 20
myVariable = 30

# Invalid variable names
2my_variable = 10  # Error: cannot start with a number
my-variable = 20   # Error: cannot contain hyphens
```

In [ ]:
# Variable Examples:
# Assigning values to variables
a = 5
b = "Hello"
c = 3.14
d = True

print(a)  # Output: 5
print(b)  # Output: Hello
print(c)  # Output: 3.14
print(d)  # Output: True

5
Hello
3.14
True

In [ ]:
# User Defined Inputs to Variables:
name = input("Enter your name: ")
age = input("Enter your age: ")
phno = input("Enter your phone number: ")

print("Hello, " + name + "! You are " + age + " years old. Your mobile number is +91 " +phno)

Enter your name: B S Shreesha
Enter your age: 21
Enter your phone number: 8073673296
Hello, B S Shreesha! You are 21 years old. Your mobile number is +91 8073673296

# Python Data Types

Python is a dynamically typed language, which means you don't need to explicitly declare the type of a variable when you create it. However, understanding the different data types in Python is crucial for effective programming. Here are the primary data types in Python:

## 1. Numeric Types

### Integers (`int`)
Integers are whole numbers, positive or negative, without decimals.

```python
a = 10
print(type(a))  # Output: <class 'int'>
```

###Floats (`float`)
Floats are real numbers that contain one or more decimals.

```python
b = 20.5
print(type(b))  # Output: <class 'float'>
```

###Complex Numbers (`complex`)
Complex numbers are numbers that have a real part and an imaginary part.

```python
c = 3 + 4j
print(type(c))  # Output: <class 'complex'>
```

## 2. Sequences
### Strings (`str`)
Strings are sequences of characters. They are immutable, meaning you cannot change individual characters once a string is created.

```python
d = "Hello, Python!"
print(type(d))  # Output: <class 'str'>
```

### Lists (`list`)
Lists are ordered collections of items. They are **mutable**, meaning you can change their content.

```python
e = [1, 2, 3, "four", 5.0]
print(type(e))  # Output: <class 'list'>
```

### Tuples (`tuple`)
Tuples are ordered collections of items. They are **immutable**, meaning you cannot change their content once created.

```python
f = (1, 2, 3, "four", 5.0)
print(type(f))  # Output: <class 'tuple'>
```

## 3. Sets
### Sets (`set`)
Sets are unordered collections of unique items. They are *mutable* and do not allow duplicate elements.

```python
g = {1, 2, 3, 4, 5}
print(type(g))  # Output: <class 'set'>
```

## 4. Mappings
### Dictionaries (`dict`)
Dictionaries are unordered collections of **key-value pairs**. They are mutable and allow fast retrieval of data based on keys.

```python
h = {"name": "Alice", "age": 25, "city": "New York"}
print(type(h))  # Output: <class 'dict'>
```

## 5. Boolean (`bool`)
Boolean values represent truth values. They can be either `True` or `False`.

```python
i = True
j = False
print(type(i))  # Output: <class 'bool'>
print(type(j))  # Output: <class 'bool'>
```

## 6. None (`NoneType`)
None is a special value in Python that represents the absence of a value. It is often used to indicate that a variable has no value assigned to it.

```python
k = None
print(type(k))  # Output: <class 'NoneType'>
```

Some examples can be seen below

In [ ]:
# Example for an Integer
a = 10
print(a)  # Output: 10
print(type(a))  # Output: <class 'int'>

10
<class 'int'>

In [ ]:
# Example of a float
b = 20.5
print(b)  # Output: 20.5
print(type(b))  # Output: <class 'float'>

20.5
<class 'float'>

In [ ]:
# Example of a complex number
c = 8 + 6j
print(c)  # Output: (3+4j)
print(type(c))  # Output: <class 'complex'>

(8+6j)
<class 'complex'>

In [ ]:
# Example of a string
d = "Hello, Python!"
print(d)  # Output: Hello, Python!
print(type(d))  # Output: <class 'str'>

Hello, Python!
<class 'str'>

In [ ]:
# Example of a list
e = [1, 2, 3, "four", 5.0]
print(e)  # Output: [1, 2, 3, 'four', 5.0]
print(type(e))  # Output: <class 'list'>

[1, 2, 3, 'four', 5.0]
<class 'list'>

In [ ]:
# Example of a tuple
f = (1, 2, 3, "four", 5.0)
print(f)  # Output: (1, 2, 3, 'four', 5.0)
print(type(f))  # Output: <class 'tuple'>

(1, 2, 3, 'four', 5.0)
<class 'tuple'>

In [ ]:
# Example of a set
g = {1, 2, 3, 4, 5}
print(g)  # Output: {1, 2, 3, 4, 5}
print(type(g))  # Output: <class 'set'>

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
# Example of a dictionary
h = {"name": "Alice", "age": 25, "city": "New York"}
print(h)  # Output: {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(type(h))  # Output: <class 'dict'>

{'name': 'Alice', 'age': 25, 'city': 'New York'}
<class 'dict'>

In [ ]:
# Example of a boolean
i = True
j = False
print(i)  # Output: True
print(j)  # Output: False
print(type(i))  # Output: <class 'bool'>
print(type(j))  # Output: <class 'bool'>

True
False
<class 'bool'>
<class 'bool'>

In [ ]:
# Example of None
k = None
print(k)  # Output: None
print(type(k))  # Output: <class 'NoneType'>

None
<class 'NoneType'>

In [ ]:
# User defined Inputs
a = input("Enter a number: ")
print(a)
print(type(a))

Enter a number: 24
24
<class 'str'>

In [ ]:
b = int(input("Enter a number: "))
print(b)
print(type(b))

Enter a number: 88
88
<class 'int'>

In [ ]:
c = float(input("Enter a number: "))
print(c)
print(type(c))

Enter a number: 88.8
88.8
<class 'float'>

In [ ]:
d = str(input("Enter your name: "))
print(d)
print(type(d))

Enter your name: Skanda
Skanda
<class 'str'>

In [ ]:
e = list(input("Enter a list: "))
print(e)
print(type(e))

Enter a list: 8765432
['8', '7', '6', '5', '4', '3', '2']
<class 'list'>

In [ ]:
f = tuple(input("Enter a tuple: "))
print(f)
print(type(f))

Enter a tuple: 987653
('9', '8', '7', '6', '5', '3')
<class 'tuple'>

In [ ]:
g = set(input("Enter a set: "))
print(g)
print(type(g))

Enter a set: 11 12 13
{'3', ' ', '1', '2'}
<class 'set'>

# Conditionals and Loops in Python

Conditionals and loops are fundamental control structures in Python that allow you to make decisions and repeat actions based on certain conditions.

## Conditionals

Conditionals are used to execute different blocks of code based on whether a condition is true or false. The primary conditional statements in Python are `if`, `elif`, and `else`.

### `if` Statement

The `if` statement is used to execute a block of code if a condition is true.

```python
# Example of an if statement
age = 18
if age >= 18:
    print("You are an adult.")
```

### `if-else` Statement
The `if-else` statement is used to execute one block of code if a condition is true, and another block if the condition is false.

```python
# Example of an if-else statement
age = 17
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")
```
### `if-elif-else` Statement
The `if-elif-else` statement is used to check multiple conditions in sequence.
```python
# Example of an if-elif-else statement
age = 25
if age < 18:
    print("You are a minor.")
elif age >= 18 and age < 65:
    print("You are an adult.")
else:
    print("You are a senior citizen.")
```

In [ ]:
# If Conditional
#If loop execution
num = int(input("Enter a number: "))
if (num % 2 == 0):
    print("The number is even")

Enter a number: 2
The number is even

In [ ]:
# If - Else Conditional
num = int(input("Enter a number: "))
if (num % 2 == 0):
    print("The number is even")
else:
    print("The number is odd")

Enter a number: 9
The number is odd

In [ ]:
#if-elif-else Conditional
number = int(input("Enter a number:"))
if number == 10:
    print("The number is 10")
elif number == 50:
    print("The number is 50")
elif number == 100:
    print("The number is 100")
else:
    print("The number is not equal to 10,50,100")

Enter a number:10
The number is 10

# Loops
Loops are used to repeat a block of code multiple times. The primary loop constructs in Python are `for` loops and `while` loops.

# `for` Loop
The `for` loop is used to iterate over a sequence (such as a list, tuple, or string).

```python
# Example of a for loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

### `while` Loop
The `while` loop is used to repeat a block of code as long as a condition is true.

```python
# Example of a while loop
count = 1
while count <= 5:
    print(count)
    count += 1
```

# Loop Control Statements
Loop control statements allow you to control the flow of loops. The primary control statements are `break`, `continue`, and `pass`.

### `break` Statement
The `break` statement is used to exit the loop prematurely.
```python
# Example of a break statement
for i in range(10):
    if i == 5:
        break
    print(i)
```

### `continue` Statement
The `continue` statement is used to skip the current iteration and continue with the next one.

```python
# Example of a continue statement
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)
```

### `pass` Statement
The pass statement is a null operation; it does nothing. It is often used as a placeholder.

```python
# Example of a pass statement
for i in range(10):
    if i % 2 == 0:
        pass
    else:
        print(i)
```

In [ ]:
#For Loop
n= int(input("Enter the number: "))
for i in range(0,11):
    print (n,'x',i,'=',n*i)
    i=i+1

Enter the number: 8
8 x 0 = 0
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
#While Loop
n= int(input("Enter the number: "))
i = 1
while(i < 11):
    print (n,'x',i,'=',n*i)
    i=i+1

Enter the number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
#Continue
for iterator in range(10, 21):
    if iterator == 10:
        continue
    print(iterator)

11
12
13
14
15
16
17
18
19
20

In [ ]:
#Break
n = 0
while n<= 10:
    print(n)
    n = n + 1
    if n == 5:
        break
print("End of loop")

0
1
2
3
4
End of loop

In [ ]:
#Pass
n = 15
if n > 10:
    pass
print(7+1)

8

# Mathematical Functions and Operators in Python

Python provides a variety of mathematical functions and operators that allow you to perform arithmetic operations and manipulate numerical data.

## Arithmetic Operators

Arithmetic operators are used to perform basic arithmetic operations.

### Addition (`+`)

```python
# Example of addition
a = 10
b = 5
sum = a + b
print(sum)  # Output: 15
```

### Subtraction (`-`)
```python
# Example of subtraction
a = 10
b = 5
difference = a - b
print(difference)  # Output: 5
```

### Multiplication (`*`)
```python
# Example of multiplication
a = 10
b = 5
product = a * b
print(product)  # Output: 50
```

### Division (`/`)
```python
# Example of division
a = 10
b = 5
quotient = a / b
print(quotient)  # Output: 2.0
```

### Floor Division (`//`)
```python
# Example of floor division
a = 10
b = 3
floor_quotient = a // b
print(floor_quotient)  # Output: 3
```

### Modulus (`%`)
```python
# Example of modulus
a = 10
b = 3
remainder = a % b
print(remainder)  # Output: 1
```

### Exponential (`**`)
```python
# Example of exponentiation
a = 2
b = 3
power = a ** b
print(power)  # Output: 8
```


# Comparison Operators
Comparison operators are used to compare two values and return a boolean result.
### Equal to (`==`)
```python
# Example of equal to
a = 10
b = 10
is_equal = a == b
print(is_equal)  # Output: True
```

### Not Equal to (`!=`)
```python
# Example of not equal to
a = 10
b = 5
is_not_equal = a != b
print(is_not_equal)  # Output: True
```

### Greater Than (`>`)
```python
# Example of greater than
a = 10
b = 5
is_greater = a > b
print(is_greater)  # Output: True
```

### Less than (`<`)
```python
# Example of less than
a = 10
b = 5
is_less = a < b
print(is_less)  # Output: False
```

### Greater than or equal to (`>=`)
```python
# Example of greater than or equal to
a = 10
b = 10
is_greater_equal = a >= b
print(is_greater_equal)  # Output: True
```


### Lesser than or equal to (`<=`)
```python
# Example of greater than or equal to
a = 10
b = 10
is_greater_equal = a >= b
print(is_greater_equal)  # Output: True
```

In [ ]:
for t in range(0,5):
    num = t**3
    print(num)

0
1
8
27
64

In [ ]:
#Calculator using conditionals and loops
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

print("Select an option")
print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")
print("5. Exponential")
print("6. Exit")

while True:
    choice = int(input("Enter your choice: "))
    if choice == 1:
        print("The result of addition is:" ,a + b )
    elif choice == 2:
        print("The result of subtraction is:" ,a - b )
    elif choice == 3:
        print("The result of multiplication is:" ,a * b )
    elif choice == 4:
        print("The result of division is:" ,a / b )
    elif choice == 5:
        print("The result of exponentiation is:" ,a ** b )
    elif choice == 6:
        break
    else:
        print("Invalid choice")

Enter the first number: 8
Enter the second number: 0
Select an option
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exponential
6. Exit
Enter your choice: 1
The result of addition is: 8
Enter your choice: 6

# Assignment Operators
Assignment operators are used to assign values to variables.

1. Addition Assignment (`+=`)
2. Subtraction Assignment (`-=`)
3. Multiplication Assignment (`*=`)
4. Division Assignment (/=)
5. Floor Division Assignment (//=)
6. Modulus Assignment (%=)
7. Exponentiation Assignment (**=)

In [ ]:
# Example of addition assignment
a = 10
a += 8
print(a)  # Output: 15

18

In [ ]:
# Example of subtraction assignment
a = 10
a -= 5
print(a)  # Output: 5

5

In [ ]:
# Example of multiplication assignment
a = 10
a *= 4
print(a)  # Output: 50

40

In [ ]:
# Example of division assignment
a = 10
a /= 5
print(a)  # Output: 2.0

2.0

In [ ]:
# Example of floor division assignment
a = 10
a //= 8
print(a)  # Output: 3

1

In [ ]:
# Example of modulus assignment
a = 10
a %= 6
print(a)  # Output: 1

4

In [ ]:
# Example of exponentiation assignment
a = 2
a **= 3
print(a)  # Output: 8

8